:root {
--primary-text-color:#757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--primary-white-color:#FFFFFF;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}


/* стилізуєм лого */
.logo {
    color: var(--accent-color);
}
.logo-part {
    color: #000000;
}
.list {
    list-style: none;
}
/* nav */
.link {
    color: var(--primary-text-color);
}
.link-nav {
    color: var(--title-text-color)
}
.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
    color: var(--accent-color);
}
.site-nav .link-nav.current {
    color: var(--accent-color);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
.hero {
    background-color: #2F303A;
}
/* hero h1 */
.hero-title {
    color: var(--primary-white-color);    
}
/* button */
.button.basic {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.button.basic:active {
    background-color: #188CE8;
}
/* заголовки  */
.section-title {
    color: var(--title-text-color)
}
.title {
    color: var(--title-text-color);
}
/* section team */
.section-team {
    background-color: #F5F4FA;
}
/* footer */
.footer {
    background-color: #2F303A;
}
.part {
    color: var(--primary-white-color);
}
.footer-map {
    color: var(--primary-white-color);
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);
}
/* filter */
.button.second {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}
.button.second:active {
    color: var(--primary-white-color);
    background-color: #2196F3;
}